/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #06a0fa;
}

.container {
  background-color: #70edfd;
  border-radius: 10px;
  border: solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 30px;
}

.middle {
  text-align: center;
}

#login {
  margin-bottom: 20px;
  
}

h1 {
  color: #333333;
}

input.form-control {
  padding: 12px;
  margin-bottom: 15px;
  border: 3px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

.validationMsg {
  margin-top: 5px;
}

.text-danger {
  font-size: 14px;
}

.btn {
  padding: 10px 20px;
  background-color: #0ca011;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .container {
    width: 90%;
  }
  
  input.form-control {
    width: calc(100% - 24px); /* Adjust for padding */
  }
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-brand {
  font-size: 24px;
  color: #ffffff; /* White text color */
}
